/* Fonts */

@font-face {
    font-family: "IntroScriptR-H2Base";
    src: local("IntroScriptR-H2Base"),
         url(../fonts/IntroScriptR-H2Base.otf) format("otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: local("PlayfairDisplay-Bold"),
         url(../fonts/PlayfairDisplay-Bold.otf) format("otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: local("Circe-Bold"),
         url(../fonts/Circe-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: local("Circe-Regular"),
         url(../fonts/Circe-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

/* global */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Circe", "Arial", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

a {
    text-decoration: none;
}